/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

    .crop {
        overflow: hidden;
    }
	    .crop img {
        width: 400px;
        margin: -75px 0 0 -100px;
    }
.titleShadow{
	color: white; 
	text-shadow: 0px 0px 4px black;
}

span.badgeDG {
  min-width: 3rem;
  padding: 0 6px;
  /*margin-left: 14px;*/
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  /*float: right;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

span.badgeDG.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #7b1fa2;
  border-radius: 2px;
}

.collapse{
  cursor: pointer;
}

.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

#content {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 10px; /* Need a specific value to work */
}
.thumb {
	width:50px;
	height:50px;
	opacity: 0.4;
	object-fit: cover;
	background: orange;
	border-radius: 5px;
	object-position:top;
	overflow:hidden;
}
.thumb:hover {
	opacity:1;
}
.thumb:active {
	opacity:1;
}