html, body {
  margin:0px;
  height:100%;
}
#CardTransitioner {
	height:100%;
	width: 100%;
	background-color: darkgrey;
	transition: all 1s;
	text-align: center;
    vertical-align: middle;
    line-height: 20;
    font-size: x-large;
}
.moveAway {
	transform: translateX(-2000px);
	opacity:0;
}
.choiceBtn {
}
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }