@font-face {
    font-family: 'Gamer';
    src: url('fonts/Gamer.eot');
    src: url('fonts/Gamer.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gamer.woff2') format('woff2'),
        url('fonts/Gamer.woff') format('woff'),
        url('fonts/Gamer.svg#Gamer') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
	margin-top: 0 px;
	margin-left: 0 px;
	background-image: url("Resources/Background/Clouds_trans_tile_black.png");
	//background-size: 100% 100%;
	//opacity: 0.6;
	//background-color: #181818;
	background-color: #59f1ff;
	//background-color: #cf8f89;
	font-family:'Verdana';
	overflow: hidden;
	//background: linear-gradient(white,black);
	overscroll-behavior: contain;
}

/* @media only screen and (orientation:landscape) {
  body {

	transform: rotate(90deg);
  }
} */

html {
	margin-top: 0 px;
	margin-left: 0 px;
}
#drawSpace {
	//z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
	//border: 1px dotted gray;
	//pointer-events:none;
}
#drawSpaceLE {
	//z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
	//border: 1px dotted gray;
	//pointer-events:none;
}
#canvasBases {
	//z-index: 5;
	position: absolute;
	top: 0px;
	left: 0px;
	//border: 1px dotted gray;
	//border: 1px solid red;
	//pointer-events:none;
}
#canvasBasesLE {
	//z-index: 5;
	position: absolute;
	top: 0px;
	left: 0px;
	//border: 1px dotted gray;
	//border: 1px solid red;
	//pointer-events:none;
}
#selectionBox {
	border: 5px dotted rgba(200,200,200,0.5);
	position: absolute;
	//background: radial-gradient(rgba(255,0,0,0) 60%,rgba(200,200,200,0.5) 65%, rgba(255,0,0,0) 70%); /* Standard syntax */
	//background: linear-gradient(to right	, rgba(200,200,200,0.5) 0%, rgba(255,0,0,0) 2%), 
	//			linear-gradient(to bottom	, rgba(200,200,200,0.5) 0%, rgba(255,0,0,0) 2%), 
	//			linear-gradient(to top		, rgba(200,200,200,0.5) 0%, rgba(255,0,0,0) 2%),
	//			linear-gradient(to left		, rgba(200,200,200,0.5) 0%, rgba(255,0,0,0) 2%)
	
}
button {
	color: #181818;
	background: white;
	border: 1px solid grey;
}
levelChooser {
	color: white;
}
.buttonMain {
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.2);
	border: 0px solid rgba(255, 255, 255, 0.2);
	//color: rgb(122 0 241 / 60%);
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Gamer' ;
	color: rgb(255 255 255);

    //text-shadow: 2px 2px 0px rgba(0,0,0,0.6);

	cursor: pointer;
	border-radius: 3px;
	//position: absolute;
	//top: 50%;
	box-shadow: rgba(0, 0, 0, 0.6) 4px 4px 1px 0px;
}
@media only screen and (min-width: 0px) {
	.buttonMain{
		font-size: 35px; //25px with normal font
	}
}
@media only screen and (min-width: 900px) {
	.buttonMain{
		font-size: 55px; //40 px with normal font
	}
}
	
.buttonMain:active {
	background-color: rgba(200, 200, 200, 0.2);
}	
.buttonMainInactive {
	color: dimGray;
}	
.buttonNextPrev {
	background-color: rgba(0, 0, 0, 0);
	border: 0px solid rgba(255, 255, 255, 0);
	z-index: 1;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	cursor: pointer;
}

.button {
	//z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: white;
	padding: 32px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
	
}
.button:active {
	background-color: rgba(200, 200, 200, 0.2);
}	
.indicator {
	//z-index: 1;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: white;
	padding: 32px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	margin: 0px 2px;
	border-radius: 4px;
	//width: 32px;
	//cursor: pointer;
	font-family:verdana;
}
.menuCenter {
	text-align: center;
}
.title {
	max-width:500px;
	max-height:100%;
	
}
@media only screen and (min-width: 0px) {
	.title{
		padding-top: 10px;
	}
}
@media only screen and (min-width: 900px) {
	.title{
		padding-top: 50px;
	}
}

#background_canvas {
	//z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	//border: 1px dotted red;
}
.buttonsMenu {
	position: relative;
	z-index: 20;
}
.buttonsMenuInGame {
	position: absolute;
	z-index: 20;
}
.inGameMenu {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	text-align: center;
	z-index:21;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	//display: table;
	margin: auto;
}
.confirmBox {
	background-color: rgba(0, 0, 0, 0.9);
}
.buttonsContainer {
	display: table;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	//top:50%;
}
.buttonsContainer2 {
	display: table-cell;
	vertical-align: middle;
}
.buttonsContainer3 {
	margin-left: auto;
	margin-right: auto; 
	//width: 500px;
	//background-color: rgba(0, 0, 0, 0.2);
	//border: 1px solid rgba(255, 255, 255, 0.2);
	//border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-family:'Gamer';
	font-size: 30px;
}
.buttonInGameMenu {
	width: 200px;
}
.buttonConfirm {
	width: 200px;
	background-color: rgba(20, 20, 20, 1);
	font-family:'Gamer';
	font-family:'Gamer';
}
.winMessage{
	color: white;
	font-family:'Gamer';
}
@media only screen and (min-width: 0px) {
  .winMessage {
    font-size: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .winMessage {
    font-size: 70px;

  }
}
#loadingScreen{
	background-color: black;
	position: absolute;
	text-align: center;
	z-index:9999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	//display: table;
	margin: auto;
	color: white;
}

.transparent {
	background-color: rgba(0, 0, 0, 0.2);
}
.invisible {
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	cursor: pointer;
}
.bigger {
	transform: scale(2);
}
.demoDiv {
	//background-color:red;
	//font-size:22;
}
.levelGroupTitle{
	font-size:30px;
	color:white;
	display:none;
}
.shadowed{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.levelsContainer{
	border: 1px solid black;
}

.starIcon {
	font-size:50px;
}
.starIconWin {
	font-size:50px;
}

@media only screen and (min-width: 0px) {
  .starIcon {
    font-size: 12px;
  }
}
@media only screen and (min-width: 0px) {
    .starIconWin {
    font-size: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .starIcon {
    font-size: 20px;
  }

}

@media only screen and (min-width: 900px) {

  .starIconWin {
    font-size: 30px;
  }
}

@media only screen and (min-width: 0px) {
  .row {
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 900px) {
  .row {
    margin-bottom: 20px;
  }
}
.eventMenuButton{
	padding-top:20px;
	padding-bottom:20px;
}
#TitleMobile{
	display:none;
}
#TitlePC{
	display:none;
}
@media only screen and (min-width: 900px) {
	#TitlePC{
		display:inline;
		//box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	}
}
@media only screen and (max-width: 900px) {
	#TitleMobile{
		display:inline;
	}
}
.indicatorBar{
	color:rgba(0,0,0,0);
	position: absolute; 
	right: 24px;
	text-align:right;
	height:10px;
	max-width:250px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 5px;
}
.colorCell{background-color:#7b1fa2;}
.colorVirus{background-color:#FF0700;}
.colorFungus{background-color:#A0F500;}
.lockIcon{
	position:absolute;
	font-size:23px;
	color:rgb(143 35 223)
}
@media only screen and (min-width: 900px) {
	.lockIcon{
		font-size:36px;
	}
}
.pauseBackground {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	text-align: center;
	z-index:10;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	//display: table;
	margin: auto;
}
.alphaBtn {
	position:fixed;
	top:10px;
	left:10px;
}
