.TGEmapCellTest {
	/* border:1px solid #eee; */
	/*margin:7px 0;*/
	text-align:center;
	line-height:35px;
	width: 100%;
	padding-bottom: 100%;
	font-size:10px;
	background-color:tomato;
	color:white;
	padding-left: 0px;
	box-shadow: 6px 4px 20px 0px #6f6f6f;
	padding: 0 .05rem !important;
	transition: border 0.3s;
}


.TGEmapCellTest:hover{
	/* background-color:blue !important; */
	border:4px solid #f9a825;
}

.TGEmapIconBackground{
	position:absolute;
	z-index:1;
	left: 0;
	width:100%;
}
.TGEmapIconForeground{
	position:absolute;
	z-index:5;
	padding: 0 .05rem !important;
	left: 0;
	width:100%;
	opacity: 0.8;
}

.TGEmapIconContainer{
	position: relative;
	height:10 px;
}

.glowing{
	animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% { box-shadow: inset 0 0 3px #ff5722; }
  50% { box-shadow: inset 0 0 20px #d84315; }
  100% { box-shadow: inset 0 0 3px #ff5722; }
}

body {
	background:linear-gradient(180deg, #ccd9d9, #fff2ea);
	background-size: 600% 600%;
	/* animation: AnimationName 30s ease infinite; */
	background-attachment: fixed;
}



@keyframes AnimationName { 
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}

.buttonContainerTGE {
	text-align: center;
	margin-top: 5px;
}

.btnTGE {
   margin: auto;
  width: 50%;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
